# Configuration file for movescu.jar

#info-model=PatientRoot
info-model=StudyRoot
#info-model=PatientStudyOnly

ext-neg=true

ac-timeout=5000
dimse-timeout=0
so-close-delay=500

prior=0
max-pdu-len=16352
max-op-invoked=0
pack-pdvs=false

tls-key=certificates/test_sys_1.p12
tls-key-passwd=secret
tls-cacerts=certificates/mesa_certs.jks
tls-cacerts-passwd=secret

ts=ExplicitVRLittleEndian,ImplicitVRLittleEndian
